/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.half-width {
    width: 50% !important;
}


/*Re-useable styles*/





/*Planned Trips */
.pre-trip-card {
    width: 30%;
}

.plan-create-details-card {
    width: 40%;
}

.plan-create-locations-card {
    width: 35%;
}

.search-container {
    margin: 2em 0;
}

.search-bar-area {
    width: 50%;
}

.planned-details-card {
    width: 60%;
}

.food-card-container,
.place-card-container {
    width: 45%;
}

.width-45 {
    width: 45%;
}

.width-35 {
    width: 35%;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.width-65 {
    width: 65%;
}

.width-10 {
    width: 10%;
}

.width-85 {
    width: 85%;
}



.my-trips-pagination .pagination .active a {
    
}



/*Finished Trips */

.details-img {
    display:block;
    width: 100%;
}

.index-trip-img {
    width: 260px;
    /*height: 120px;*/
    -webkit-box-shadow: 0 8px 6px -6px rgba( 0, 0, 0, .6 );
    -moz-box-shadow: 0 8px 6px -6px rgba( 0, 0, 0, .6 );
    box-shadow: 0 8px 6px -6px rgba( 0, 0, 0, .6 );
    border-radius: 3px;
}


.finish-travoul-media hr {
    margin-top: 5px !important;
}

/*Home Page*/
.home-page-img {
    height: 550px;
    width: 100%;
}




/*Custom Styles for buttons*/
.btn-delete:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-edit {

}












/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



