/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    position: relative;
    z-index: -11;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */



/* Box Shadow Styles*/
.effect2 {
    position: relative;
}

    .effect2:before, .effect2:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 15px 10px #777;
        -moz-box-shadow: 0 15px 10px #777;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }

    .effect2:after {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }


.effect5 {
    position: relative;
}

    .effect5:before, .effect5:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 25px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 35px 20px #777;
        -moz-box-shadow: 0 35px 20px #777;
        box-shadow: 0 35px 20px #777;
        -webkit-transform: rotate(-8deg);
        -moz-transform: rotate(-8deg);
        -o-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }

    .effect5:after {
        -webkit-transform: rotate(8deg);
        -moz-transform: rotate(8deg);
        -o-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg);
        right: 10px;
        left: auto;
    }


.effect3 {
    position: relative;
}

    .effect3:before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 15px 10px #777;
        -moz-box-shadow: 0 15px 10px #777;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }



/* Login Styles*/

.login-page, 
.register-page {
    background: linear-gradient(to bottom right, #ffffe6, transparent 50%) no-repeat fixed, url("../images/travoul-login-bg copy.jpeg") no-repeat fixed;
    background-size: cover;
    padding: 2em;
    min-height: 100vh;
}

.register-page {
    background: linear-gradient(to right, #ffffe6, transparent) no-repeat fixed, url("../images/travoul-login-bg copy.jpeg") no-repeat fixed;
}

.half-width {
    width: 50% !important;
}

.bottom-layer {
    position: relative;
    z-index: -10;
}

.top-layer {
    z-index: 0;
}

/*Home Page*/

.home-page {
    padding: 2em;
    min-height: 100vh;
    background: 
        linear-gradient(rgba(255, 255, 255, .7), rgba(255, 255, 255, .9)),
        url('../images/adolfo-felix-572763-unsplash.jpg');
    background-size: cover;
    position: relative;
    z-index: -5;
}

.home-page-img {
    width: 100%;
    display: block;

    border-radius: 3px;
}



/*Re-useable styles*/





/*Planned Trips */
.pre-trip-card {
    width: 30%;
}

.plan-create-details-card {
    width: 40%;
}

.plan-create-locations-card {
    width: 35%;
}

.search-container {
    margin: 2em 0;
}

.search-bar-area {
    width: 50%;
}

.planned-details-card {
    width: 60%;
}

.food-card-container,
.place-card-container {
    width: 45%;
}

.width-45 {
    width: 45%;
}

.width-35 {
    width: 35%;
}

.width-30 {
    width: 30%;
}

.width-50 {
    width: 50%;
}

.width-65 {
    width: 65%;
}

.width-10 {
    width: 10%;
}

.width-85 {
    width: 85%;
}



.my-trips-pagination .pagination .active a {
    
}



/*Finished Trips */

.details-img {
    display:block;
    width: 100%;
}

.index-trip-img {
    width: 260px;
    /*height: 120px;*/
    -webkit-box-shadow: 0 8px 6px -6px rgba( 0, 0, 0, .6 );
    -moz-box-shadow: 0 8px 6px -6px rgba( 0, 0, 0, .6 );
    box-shadow: 0 8px 6px -6px rgba( 0, 0, 0, .6 );
    border-radius: 3px;
}


.finish-travoul-media hr {
    margin-top: 5px !important;
}






/*Custom Styles for buttons*/
.btn-delete:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-edit {

}












/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



