@{
    ViewData["Title"] = "Home Page";
}

<div>
    @*<h3 class="text-center mt-3 mb-3">Hello, and welcome to Travoul!</h3>
    <h5 class="text-center">A travel journal that allows you to plan details and activities as well as reflect on the good part of the trip that you would do again, or recomend for a friend to try vs what you didn't like and or would do different if you went back!</h5>*@

    <div class="search-container d-flex justify-content-center">
        <div class="search-bar-area">
            <h4 class="text-center mb-3">Search for Travouls by Name, Location, or Continents</h4>
            <form asp-controller="Home" asp-action="TripSearchAll">
                <input placeholder="Search" type="text" name="Search" class="form-control" />
            </form>
        </div>
    </div>
    <img class="home-page-img" src="~/images/chris-lawton-346402-unsplash.jpg" alt="map" />
</div>