@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Hello, and welcome to Travoul!</h2>
    <p>A travel journal that allows you to plan details and activities as well as reflect on the good part of the trip that you would do again, or recomend for a friend to try vs what you didn't like and or would do different if you went back!</p>
    <p>Start planning your trip by looking for inspiration</p>
    <div class="pb-3">
        <form asp-controller="Home" asp-action="TripSearchAll">
            <input placeholder="Search" type="text" name="Search" class="form-control" />
        </form>
    </div>
    <img class="home-page-img" src="~/images/chris-lawton-346402-unsplash.jpg" alt="map"/>
</div>