@model travoul.Models.ViewModels.CreateTripViewModel

@{
    ViewData["Title"] = "Create";
}

<h3>Start Planning...</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trip.ContinentId" class="control-label"></label>
                <select asp-for="Trip.ContinentId" class="form-control" asp-items="Model.AllContinentOptions"></select>
                <span asp-validation-for="Trip.ContinentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Location" class="control-label"></label>
                <input asp-for="Trip.Location" class="form-control" />
                <span asp-validation-for="Trip.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.TripDates" class="control-label"></label>
                <input asp-for="Trip.TripDates" class="form-control" />
                <span asp-validation-for="Trip.TripDates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Accommodation" class="control-label"></label>
                <input asp-for="Trip.Accommodation" class="form-control" />
                <span asp-validation-for="Trip.Accommodation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Title" class="control-label"></label>
                <input asp-for="Trip.Title" class="form-control" />
                <span asp-validation-for="Trip.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trip.Budget" class="control-label"></label>
                <input asp-for="Trip.Budget" class="form-control" />
                <span asp-validation-for="Trip.Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
